.centering-parent {
    width: 80%;
    height: 100vh;
    display: flex;
}

.centered {
    width: 22rem;
    margin: auto;
    background-color: white;
}

.hidden-form-control {
    display: none;
}

.temperature-icon {
    width: 1em;
}

#temperature-slider {
    margin-top: 5px;
}

/* Hide bar and handle shadow and off-white background */
#temperature-slider.noUi-target,
#temperature-slider .noUi-handle {
    box-shadow: none;
    background: white;
}
/* Hide handle center marking */
#temperature-slider .noUi-handle::before,
#temperature-slider .noUi-handle::after {
    display: none;
}
#temperature-slider .noUi-handle {
    width: 45px;
    height: 32px;
    top: -7.5px;
    background-color: #0275d8;
    border: none;

    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  /* bootstrap default */
    line-height: 32px;
}
#temperature-slider .noUi-tooltip {
    display: none
}

#lights-button.btn-primary::after {
    content: 'Turn off';
}

#lights-button.btn-secondary::after {
    content: 'Turn on ';
}

body.lights-on {
    background-color: white;
    -webkit-animation-name: turn-lights-on;
    -moz-animation-name: turn-lights-on;
    -o-animation-name: turn-lights-on;
    animation-name: turn-lights-on;
 ~   -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

body.lights-off {
    background-color: black;
    -webkit-animation-name: turn-lights-off;
    -moz-animation-name: turn-lights-off;
    -o-animation-name: turn-lights-off;
    animation-name: turn-lights-off;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@keyframes turn-lights-off {
    from {background-color: white;}
    to {background-color: black;}
}

@keyframes turn-lights-on {
    from {background-color: black;}
    to {background-color: white;}
}


.row label{
    text-align: right;
    color: #69686f;
}

.card-title {
    text-align: center;
    margin-bottom: 25px;
    color: darkgray;
}


label img {
    height: 2em;
}