.centering-parent {
    width: 80%;
    height: 100vh;
    display: flex;
}

.centered {
    width: 22rem;
    margin: auto;
    background-color: white;
}

.hidden-form-control {
    display: none;
}
/*Lights*/
button.lights-on {
    background-color: white;
    color: black;
}

button.lights-on:after {
    content: 'Turn off';
    margin-left: .5em;
}

button.lights-off {
    background-color: black;
    color: white;
}

button.lights-off:hover {
    background-color: #303030;
    color: white;
}

button.lights-off:after {
    content: 'Turn on ';
    margin-left: .5em;
}

body.lights-on {
    background-color: white;
    -webkit-animation-name: turn-lights-on;
    -moz-animation-name: turn-lights-on;
    -o-animation-name: turn-lights-on;
    animation-name: turn-lights-on;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

body.lights-off {
    background-color: black;
    -webkit-animation-name: turn-lights-off;
    -moz-animation-name: turn-lights-off;
    -o-animation-name: turn-lights-off;
    animation-name: turn-lights-off;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@keyframes turn-lights-off {
    from {background-color: white;}
    to {background-color: black;}
}

@keyframes turn-lights-on {
    from {background-color: black;}
    to {background-color: white;}
}